<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Enable or disable the new authorization event. Username/password is test/test -->
    <add key="EnableOnAuthorize" value="false" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
  </runtime>
</configuration>